
  <a data-toggle="modal" href="#cardShow<%= card.id %>" id="<%= card.id %>" class="btn show-card-link" style="text-align:left;"> <%= card.escape("title") %>
	

  <div class="due-date-body <% if (due_date === '') {%> hide <% } %>" id="<%= card.id %>">
    Due Date: <%= due_date %>
  </div>

  </a>




<!-- Modal -->
  <div class="modal fade" id="cardShow<%= card.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header cf">
          <button type="button" class="close" id="<%= card.id %>" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="cardTitle" id="<%= card.id %>"><%= card.escape("title") %></h4>
          <form class="edit_card_title_form hide" id="<%=card.id%>">
            <input type="hidden" value="<%=card.id%>" name="card[id]">
            <input type="text" id="<%= card.id %>" class="form-control" name="card[title]" value="<%= card.get("title") %>" autocomplete="off" style="width:40%; float:left;">
            <input type="submit" value="Save" class="btn btn-sm btn-primary" style="margin: 3px; float:left;">
            <button type="button" class="btn btn-sm btn-primary exit_edit_card_input" id="<%=card.id%>" style="margin: 3px; float:left; font-size: 9pt; font-weight: bold;">X</button>
          </form>
        </div>

        <div class="modal-body">
			  	<label for="list_title"><%= card.get("description") %></label>
			  	<input id="list_title" type="text" class="form-control hide" name="list[title]"><br>

			  	<input id="list_board_id" type="hidden" name="list[board_id]" value="<%= board.id %>">

          
          <div class="due-date-body <% if (due_date === '') {%> hide <% } %>" id="<%= card.id %>">
            Due Date: <%= due_date %>
          </div>
          

        </div>

        <div class="modal-footer">

          <div class="dateMenu" style="float:left;">
            
            <button type="button" class="btn btn-primary add-due-date-btn" id="<%= card.id %>">
              Due Date
            </button>

            <div style="padding:3px;" class="date-input hide" id="<%= card.id %>">
              <form class="due-date-form" id="<%= card.id %>">
                <input type="hidden" name="card[id]" value="<%= card.id %>">
                <input id="datepicker<%= card.id %>" type="text" name="card[due_date]" value="<%= due_date %>" class="form-control" style="margin-bottom:3px;">
                <input type="submit" id="<%= card.id %>" class="btn btn-primary save-date" value="Save" style="float:left;">
                <div>
                  <input type="button" id="<%= card.id %>" class="btn btn-danger remove-date <% if (due_date === '') {%> hide <% } %>" value="Remove">
                </div>
              </form>
            </div>
            
          </div>

          <button type="button" class="btn btn-danger delete-card" id="<%= card.id %>" data-dismiss="modal">Delete this Card</button>
        
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->




