<div class="list cf" style="min-width:<%= listMinWidth %>; max-width:<%= listMaxWidth %>">
  <div class="listTitle"><%= list.escape("title") %></div>

  <div class="connectedListSortable cards<%=list.id%>" style="max-height:<%= listMaxHeight %>;">
    
  </div>

  <!-- Button trigger show input -->
  <a class="new_card_link listTitle" id="<%=list.id%>">Add a Card...</a>
    <form class="new_card_form hide" id="<%=list.id%>">
      <input type="hidden" value="<%=list.id%>" name="card[list_id]">
      <input type="text" class="form-control" name="card[title]" autocomplete="off">
      <input type="submit" value="Create Card" class="btn btn-sm btn-primary create_card" style="margin: 3px; float:right;">
      <button type="button" class="btn btn-sm btn-primary exit_card_input" id="<%=list.id%>" style="margin: 3px; float:right; font-size: 9pt; font-weight: bold;">X</button>
    </form>
</div>
