<div class="list cf" id="<%= list.id %>" style="min-width:<%= listMinWidth %>; max-width:<%= listMaxWidth %>">

  <div class="cf">
    <div class="listMenu" id="<%= list.id %>">
      <div class="dropdown" id="<%= list.id %>">
        <a id="<%= list.id %>" class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
          <span class="caret" style="color:white;"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="<%= list.id %>">
          <li>
            <a data-toggle="modal" href="#deleteList<%= list.id %>" class="btn btn-danger dropdown-menu-button">Delete this List</a>
          </li>
        </ul>
      </div>
    </div>

    <p class="listTitle" id="<%=list.id%>"><%= list.escape("title") %></p>
    <form class="edit_list_title_form hide" id="<%=list.id%>">
      <input type="hidden" value="<%=list.id%>" name="list[id]">
      <input type="text" class="form-control" name="list[title]" value="<%= list.get("title") %>" autocomplete="off" style="width:45%; float:left;">
      <input type="submit" value="Save" class="btn btn-sm btn-primary edit_list_title" style="margin: 3px; float:left;">
      <button type="button" class="btn btn-sm btn-primary exit_edit_list_input" id="<%=list.id%>" style="margin: 3px; float:left; font-size: 9pt; font-weight: bold;">X</button>
    </form>
  </div>

  <div class="cf connectedListSortable cards<%=list.id%>" style="max-height:<%= listMaxHeight %>;">
    
  </div>


  <!-- Button trigger show Card input field -->
  <a class="new_card_link btn" id="<%=list.id%>" style="background-color:#aaafb5; width:95%; border-width:3px; border-color:#d4dbe2; border-radius:8px; margin: auto; display: block; margin-top:3px; margin-bottom:3px;">Add a Card...</a>
  <form class="new_card_form hide" id="<%=list.id%>">
    <input type="hidden" value="<%=list.id%>" name="card[list_id]">
    <input type="text" class="form-control" name="card[title]" autocomplete="off">
    <input type="submit" value="Create Card" class="btn btn-sm btn-primary create_card" style="margin: 3px; float:right;">
    <button type="button" class="btn btn-sm btn-primary exit_card_input" id="<%=list.id%>" style="margin: 3px; float:right; font-size: 9pt; font-weight: bold;">X</button>
  </form>
</div>

<!-- Modal to confirm delete list-->
  <div class="modal fade" id="deleteList<%= list.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
    <div class="modal-dialog">
      <form id="card_update_form">
      <div class="modal-content">
      
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">List Title: <%= list.escape("title") %></h3>
        </div>

        <div class="modal-body">
          <h4 class="modal-title">
          Are you sure you want to delete this list? All of its contents including its cards will be deleted. This cannot be undone.
          </h4>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Don't Delete</button>
          <button type="button" class="btn btn-danger delete-list" data-dismiss="modal">Delete this List</button>
        </div>

      </div><!-- /.modal-content -->
      </form>
    </div><!-- /.modal-dialog -->
  
  </div><!-- /.modal -->
