<!DOCTYPE html>
<html>
<head>
  <title>Tamello</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if !current_user.nil? %>
  <div class="container">
    <div class="header">
      <form action="<%= session_url %>" method="POST">
      	Hello <%= current_user.username %>!
  		  <input type="hidden" name="_method" value="DELETE">
  		  <input type="submit" class="btn btn-danger" value="Logout">
  		</form>
		</div>
  </div>
  
  <div class="tamello">
  </div>
<% end %>

<%= yield %>

</body>
</html>
