<!DOCTYPE html>
<html>
<head>
  <title>Tamgerine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if !current_user.nil? %>
  <div>

    <div class="header cf">
      <div style="float: left; font-size: 15pt;">
        Tamgerine
      </div>

      <div style="float: right; vertical-align: middle; font-size: 12pt;">
        <form action="<%= session_url %>" method="POST">
        	Hello <%= current_user.username %>!
    		  <input type="hidden" name="_method" value="DELETE">
    		  <input type="submit" class="btn btn-danger" value="Logout">
    		</form>
      </div>

		</div>

    <div class="tamello">
    </div>

  </div>
  
  
<% end %>

<%= yield %>

</body>
</html>
